In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [4]:
page = requests.get(url)

In [5]:
soup = BeautifulSoup(page.text,'html')

In [8]:
#print(soup)

In [9]:
table = soup.find('table',class_='wikitable sortable')

In [11]:
table_headers = table.find_all('th')

In [13]:
column_headers = [table.text.strip() for table in table_headers]

In [16]:
#print(column_headers)

In [18]:
import pandas as pd

In [20]:
df = pd.DataFrame(columns = column_headers)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [24]:
table_data = table.find_all('tr')

In [25]:
for rows in table_data[1:]:
    row_data =    rows.find_all('td')
    table_rows = [data.text.strip() for data in row_data] 
    #print(table_rows)
    length = len(df)
    df.loc[length]= table_rows

In [27]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [30]:
print(type(df))

df.to_csv('text.csv')

<class 'pandas.core.frame.DataFrame'>

In [34]:
#df.to_csv(r'C:\Users\Satvik Malla\Documents\WebScrap\test.csv',index = False)